/* Simplified Button Styles */
button.custom-button {
    font-family: inherit;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 170px; /* Adjust to fit your content if needed */
    height: 45px; /* Adjust to fit your content if needed */
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;


    /* Ensuring Flexbox alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between icon and text */
}

button.custom-button svg {
    display: block;
    font-size: 1.2em;
}

button.custom-button span {
    display: inline-block;
    font-size: 1em;
}

/* Hover effect */
button.custom-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}
